# NYC Airbnb Price Prediction - Data Exploration

Use dataset published by Kaggle - https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data - to train a simple deep learning model to predict prices for Airbnb properties.

This notebook contains the code to explore the dataset.

In [1]:
valid_days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# import seaborn as sns
import datetime
import os

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import datetime as dt
# common imports
import zipfile
import time
# import datetime, timedelta
import datetime
from datetime import datetime, timedelta
from datetime import date
from dateutil import relativedelta
from io import StringIO
import pandas as pd
import pickle
from sklearn.base import BaseEstimator
from sklearn.base import TransformerMixin
from io import StringIO
import requests
import json
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline 
import os
import math
from subprocess import check_output
from IPython.display import display
import logging
import yaml
from collections import Counter
import re
import os

# Load and Save Data
- parse list of XLS files 
- load XLS files, tab by tab, into dataframe
- pickle dataframe for future runs

In [4]:
def get_config(config_file):
    ''' open config file with name config_file that contains parameters
    for this module and return Python object

    Args:
        config_file: filename containing config parameters

    Returns:
        config: Python dictionary with config parms from config file - dictionary


    '''
    current_path = os.getcwd()
    print("current directory is: " + current_path)

    path_to_yaml = os.path.join(current_path, config_file)
    print("path_to_yaml " + path_to_yaml)
    try:
        with open(path_to_yaml, 'r') as c_file:
            config = yaml.safe_load(c_file)
        return config
    except Exception as error:
        print('Error reading the config file ' + str(error))

In [5]:
def get_path():
    ''' get the path for data files

    Returns:
        path: path for data directory

    '''
    rawpath = os.getcwd()
    # data is in a directory called "data" that is a sibling to the directory
    # containing the notebook
    path = os.path.abspath(os.path.join(rawpath, '..', 'data'))
    return path

In [6]:
# define categories for input columns
def define_feature_categories(df):
    allcols = list(df)
    print("all cols",allcols)
    textcols = ['Incident','Location'] # 
    continuouscols = ['Min Delay','Min Gap'] 
                      # columns to deal with as continuous values - no embeddings
    timecols = ['Report Date','Time']
    collist = ['Day','Vehicle','Route','Direction']
    for col in continuouscols:
        df[col] = df[col].astype(float)
    print('texcols: ',textcols)
    print('continuouscols: ',continuouscols)
    print('timecols: ',timecols)
    print('collist: ',collist)
    return(allcols,textcols,continuouscols,timecols,collist)

# Load dataframe
- load pickled dataframe
- show info about the dataset

In [7]:
def ingest_data(path,input_csv,pickled_input_dataframe,load_from_scratch):
    ''' load data into dataframe
    Args:
        path: path containing input file
        input_csv: input file name
        pickled_input_dataframe: pickled version of input file

    Returns:
        path: path for data directory
    '''
    if load_from_scratch:
        unpickled_df = pd.read_csv(os.path.join(path,input_csv)) 
    else:
        unpickled_df = pd.read_pickle(os.path.join(path,pickled_input_dataframe))
        logging.debug("reloader done")
    return(unpickled_df)

# Main Block

In [8]:
config = get_config('data_airbnb_preparation_config.yml')
path = get_path()
df = ingest_data(path,config['file_names']['input_csv'],config['file_names']['pickled_input_dataframe'],config['general']['load_from_scratch'])

current directory is: /home/ab/dev/deepLearning/manning/airbnb_price_prediction/notebooks
path_to_yaml /home/ab/dev/deepLearning/manning/airbnb_price_prediction/notebooks/data_airbnb_preparation_config.yml

# General explorations

In [9]:
# get various summary statistics, excluding NaN values
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [10]:
# get a sample of the raw data
df.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
28347,22028251,Harlem Master bed and bath,135944525,Tiffany,Manhattan,Harlem,40.81876,-73.95360,Private room,45,1,0,NaN,NaN,1,0
129,29455,ACCOMMODATIONS GALORE #1,126607,Laurine,Manhattan,Harlem,40.81618,-73.94894,Entire home/apt,120,3,155,2019-06-20,1.42,3,213
22972,18610314,2BR/2BATH Luxury-Sweeping Skylines,118124127,Lana,Brooklyn,Downtown Brooklyn,40.69156,-73.98686,Entire home/apt,179,2,5,2019-07-03,0.19,1,14
28782,22231328,Spacious Brooklyn loft in Clinton Hill,4642506,Devin,Brooklyn,Bedford-Stuyvesant,40.69216,-73.96011,Private room,275,2,17,2019-06-25,0.92,1,72
40746,31624862,Upper East Side Studio on 68th street,10371008,Anna,Manhattan,Upper East Side,40.76455,-73.95646,Entire home/apt,135,4,1,2019-06-13,1.00,2,217
24903,19964070,Artsy 1BR/1BA high wood ceilings steps from water,2036797,Catinca,Brooklyn,Williamsburg,40.71236,-73.96668,Entire home/apt,180,3,20,2019-05-08,0.91,1,0
46207,35154571,Beautiful 2BR APT in Hell's Kitchen!,147810492,Harold Huengue,Manhattan,Hell's Kitchen,40.76183,-73.99160,Entire home/apt,250,2,3,2019-06-23,3.00,1,212
26307,20970437,★Luminous and vivid room in NYC★,119828457,Marlice,Brooklyn,Bushwick,40.68710,-73.90546,Private room,110,3,26,2019-06-23,1.21,4,347
41492,32244865,LARGE Trendy Studio!!!,53931758,Lc,Brooklyn,Flatbush,40.64464,-73.96453,Entire home/apt,100,3,3,2019-06-03,0.97,1,73
33974,26898028,"ONE Room ￫￫￫20mins to TimesSQ ☆彡 COZY, COZY, ...",19303369,Hiroki,Queens,Woodside,40.74296,-73.90328,Private room,39,30,3,2019-07-01,0.29,37,32